body {
    font-family: 'Vazir', 'Poppins', sans-serif;
}
.card-anim {
    transition: all 0.4s ease;
}
.card-anim:hover {
    transform: translateY(-6px) scale(1.02);
    box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}
main{
    overflow-x: hidden;
}
.input-field {
    width: 100%;
    border: 1.5px solid rgba(128, 128, 128, 0.308);
    border-radius: 8px;
    padding: 0.75rem 0.75rem;
    text-align: right;
    transition: all 0.25s ease;
    background-color: #EEF4FF;
}
.input-field:focus {
    outline: 1.5px solid #001865;
    border: 1.5px solid #1E40AF;
}
@media print {
    body * {
        visibility: hidden;
    }
    .print-area, .print-area * {
        visibility: visible;
    }
    .print-area {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
.icon-finance path {
    stroke: white;
    stroke-width: 40px;
}
